<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">

<head>
<title th:text="${bankName}+' - valid Requests'"></title>

  <link rel="stylesheet" media="screen" href="/public/stylesheets/main.css"></link>
   <script src="/public/javascripts/jquery-1.5.2.min.js" type="text/javascript"></script>

</head>


<body>
	<div id="navigation">
    		<a th:href="@{'/'}">Valid Requests</a> ||
    		<a th:href="@{'/invalid'}">Invalid Requests</a>
    </div>

	<h2>Valid Requests:</h2>

	<p th:text="'Bankname: '+${bankName}"></p>	
	<p th:text="'Autorepsonse: '+${autoresponse}"></p>

	<table id="requests">
		<thead>
			<tr>
				<td>RequestId</td>
				<td>Amount</td>
				<td>Term</td>
				<td>ConsumerRate</td>
				<td>RequestDeadline</td>
				<td>QuoteRate</td>
				<td>Created</td>
				<td>Edit</td>
				<td>Delete</td>
			</tr>
		</thead>
		<tbody>
			<tr th:unless="${requests.iterator().hasNext()}">
				<td colspan="10">No Requests found!</td>
			</tr>
			<tr th:each="request : ${requests}">
				<td th:text="${request.requestId}"></td>
				<td th:text="${request.amount}"></td>
				<td th:text="${request.term}"></td>
				<td th:text="${request.consumerRate}"></td>
				<td th:text="${request.requestDeadline}"></td>
				<td th:if="${request.quoteRate}" th:text="${request.quoteRate}+' %'"></td>
				<td th:unless="${request.quoteRate}" th:text="'-----'"></td>
				<td th:text="${request.created}"></td>
				<td th:unless="${request.quoteRate}"><a th:href="@{${'/edit/'+request.requestId}}">Edit</a></td>
				<td th:if="${request.quoteRate}"></td>
				<td><a th:href="@{${'/delete/'+request.requestId}}">Delete</a>
			
			</td>
			</tr>
			<!-- #{/list}  -->
		</tbody>
	</table>


</body>
</html>
